@font-face {
    font-family: 'Drunken Hour DEMO';
    src: url('DrunkenHourDEMO-Regular.woff2') format('woff2'),
        url('DrunkenHourDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

