        @font-face {
        font-family: 'Drunken Hour';
        src: url('font/DrunkenHourDEMO-Regular.woff2') format('woff2');
        }
        html {
            scroll-behavior: smooth;
        }
        
        body {
            font-family: 'Inter', sans-serif;
        }

        /* Efeito de seleção de texto */
        ::selection {
            background-color: #5200c8;
            color: white;
        }

        /* Utilitários visuais */
        .clip-polygon {
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
        
        .text-stroke {
            -webkit-text-stroke: 1px white;
            color: transparent;
        }
        
        .hover-text-fill:hover {
            -webkit-text-stroke: 0px;
            color: #5200c8;
        }

        /* Animações simples */
        .fade-in {
            animation: fadeIn 1s ease-in;
        }

        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(20px); }
            to { opacity: 1; transform: translateY(0); }
        }
